# Build output
bin/
obj/
bin\\
obj\\
BuzzKeepr.Infrastructure/bin\\Debug/
BuzzKeepr.Presentation/bin\\Debug/

# User-specific files
*.user
*.rsuser
*.suo

# IDE settings
.idea/
.vs/

# OS files
.DS_Store
